.jumbotron
  h1 Track Seats (Beta)
  p Did you miss the last train ticket?
  p It's your chance to find one more!
  p If someone returns the ticket you will receive notification within a minute.
  p
    a(class="btn btn-primary btn-lg"
      href="#"
      role="button"
      disabled="true") Signup by invitations only.
