.jumbotron
  h1 Track Seats (Beta)
  p Do you missed the last train ticket?
  p It's your chance to find one more!
  p If someone returns the ticket you will receive notification within minute.
  p
    a(class="btn btn-primary btn-lg"
      href="#"
      role="button"
      disabled="true") Sign Up is by invitations only.
