.ts-task-edit
  border-radius: 0.3em
  padding: 10px
  margin: 10px 0
  background-color: #dadbdf
  border: 1px solid #dadbdf
  .actions
    margin-top: 10px
  .departure-date
    margin-bottom: 10px
  .train
    margin-bottom: 10px
  .car
    margin-bottom: 10px
  .seat
    margin-bottom: 10px
  .ts-field-loading
    margin: 5px 0 0 10px
