.modal-header
  h3.modal-title {{ header }}
.modal-body
  | {{ text }}
.modal-footer
  button.btn.btn-primary(
    type="button"
    ng-click="$close('Yes')"
  ) Yes
  button.btn.btn-warning(
    type="button"
    ng-click="$dismiss('No')"
  ) No
